table {
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 1rem;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #094183;
	color: white;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: #ddd;
}